.mceContentBody {
  counter-reset: section figure example exercise;
  /* Inline the headings so the before: text doesn't cause them to wrap to the next line */

}
.mceContentBody h1,
.mceContentBody h2,
.mceContentBody h3,
.mceContentBody h4,
.mceContentBody h5,
.mceContentBody h6 {
  display: inline;
}
.mceContentBody section, .mceContentBody .section {
  padding: 0.1em 0.5em 0.5em 0.5em;
  margin: 0.25em;
  border-left-width: 0.25em;
  border-left-style: solid;
  border-right-width: 0.25em;
  border-right-style: solid;
  border-radius: 8px;
  counter-increment: section;
  border-color: #cccccc;
}
.mceContentBody section::before, .mceContentBody .section::before {
  float: left;
  display: inline;
  font-weight: bold;
  color: #999999;
  margin-right: 0.7em;
}
.mceContentBody section:nth-of-type(1), .mceContentBody .section:nth-of-type(1) {
  counter-reset: section;
}
.mceContentBody section  > *:first-child::before, .mceContentBody .section  > *:first-child::before {
  content: counters(section, ".") ": ";
  color: #999999;
}
.mceContentBody .note {
  padding: 0.1em 0.5em 0.5em 0.5em;
  margin: 0.25em;
  border-left-width: 0.25em;
  border-left-style: solid;
  border-right-width: 0.25em;
  border-right-style: solid;
  border-radius: 8px;
  counter-increment: note;
  border-color: #52e052;
  background: #e9fbe9;
}
.mceContentBody .note::before {
  float: left;
  display: inline;
  font-weight: bold;
  color: #999999;
  margin-right: 0.7em;
}
.mceContentBody .note::before {
  content: "Note: ";
}
.mceContentBody .example {
  padding: 0.1em 0.5em 0.5em 0.5em;
  margin: 0.25em;
  border-left-width: 0.25em;
  border-left-style: solid;
  border-right-width: 0.25em;
  border-right-style: solid;
  border-radius: 8px;
  counter-increment: example;
  border-color: #8ccbf2;
  background: #ddeeff;
}
.mceContentBody .example::before {
  float: left;
  display: inline;
  font-weight: bold;
  color: #999999;
  margin-right: 0.7em;
}
.mceContentBody .example::before {
  content: "Example " counter(example) ": ";
}
.mceContentBody .exercise {
  padding: 0.1em 0.5em 0.5em 0.5em;
  margin: 0.25em;
  border-left-width: 0.25em;
  border-left-style: solid;
  border-right-width: 0.25em;
  border-right-style: solid;
  border-radius: 8px;
  counter-increment: exercise;
  border-color: #e0cb52;
  background: #fcfaee;
}
.mceContentBody .exercise::before {
  float: left;
  display: inline;
  font-weight: bold;
  color: #999999;
  margin-right: 0.7em;
}
.mceContentBody .exercise::before {
  content: "Exercise " counter(exercise) ": ";
}
.mceContentBody .figure {
  padding: 0.1em 0.5em 0.5em 0.5em;
  margin: 0.25em;
  border-left-width: 0.25em;
  border-left-style: solid;
  border-right-width: 0.25em;
  border-right-style: solid;
  border-radius: 8px;
  counter-increment: figure;
  border-color: #e0cb52;
  background: #fcfaee;
}
.mceContentBody .figure::before {
  float: left;
  display: inline;
  font-weight: bold;
  color: #999999;
  margin-right: 0.7em;
}
.mceContentBody .figure::before {
  content: "Figure " counter(figure) ": ";
}
.mceContentBody .solution:not(.empty) {
  padding: 0.1em 0.5em 0.5em 0.5em;
  margin: 0.25em;
  border-left-width: 0.25em;
  border-left-style: solid;
  border-right-width: 0.25em;
  border-right-style: solid;
  border-radius: 8px;
  border-color: #cccccc;
}
.mceContentBody .solution:not(.empty)::before {
  float: left;
  display: inline;
  font-weight: bold;
  color: #999999;
  margin-right: 0.7em;
}
.mceContentBody .solution:not(.empty)::before {
  content: "Solution: ";
  color: #999999;
}
.mceContentBody .problem:not(.empty) {
  padding: 0.1em 0.5em 0.5em 0.5em;
  margin: 0.25em;
  border-left-width: 0.25em;
  border-left-style: solid;
  border-right-width: 0.25em;
  border-right-style: solid;
  border-radius: 8px;
  border-color: #cccccc;
}
.mceContentBody .problem:not(.empty)::before {
  float: left;
  display: inline;
  font-weight: bold;
  color: #999999;
  margin-right: 0.7em;
}
.mceContentBody .problem:not(.empty)::before {
  content: "Problem: ";
  color: #999999;
}
span.empty {
  color: black;
  opacity: 0.5;
}
.empty {
  cursor: pointer;
}
.cursor {
  cursor: vertical-text;
}
