.menu-icon.aloha-button {
  background: url(../../../aloha-0.20/img/base.png) no-repeat !important;
}
.menu-icon.aloha-button-big {
  background: url(../../../aloha-0.20/img/base-big.png) no-repeat !important;
}
.menu-icon.aloha-button-indent-list {
  background-image: url(../../../aloha-0.20/img/text_indent.png) !important;
}
.menu-icon.aloha-button-outdent-list {
  background-image: url(../../../aloha-0.20/img/text_indent_remove.png) !important;
}
