.menu-icon.aloha-button {
  background: url(//aloha-editor.org/aloha-0.20/img/base.png) no-repeat;
}
.menu-icon.aloha-button-big {
  background: url(//aloha-editor.org/aloha-0.20/img/base-big.png) no-repeat;
}
.menu-icon.aloha-button-indent-list {
  background-image: url(//aloha-editor.org/aloha-0.20/img/text_indent.png);
}
.menu-icon.aloha-button-outdent-list {
  background-image: url(//aloha-editor.org/aloha-0.20/img/text_indent_remove.png);
}
.menu-icon.aloha-button-b {
  background-position: 0px 0px;
}
.menu-icon.aloha-button-i {
  background-position: -16px 0px !important;
}
.menu-icon.aloha-button-u {
  background-position: -32px 0px !important;
}
.menu-icon.aloha-button-del {
  background-position: -48px 0px !important;
}
.menu-icon.aloha-button-s {
  background-position: -48px 0px !important;
}
.menu-icon.aloha-button-sub {
  background-position: -64px 0px !important;
}
.menu-icon.aloha-button-sup {
  background-position: -80px 0px !important;
}
.menu-icon.aloha-button-ul {
  background-position: -256px 0px !important;
}
.menu-icon.aloha-button-ol {
  background-position: -272px 0px !important;
}
.menu-icon.aloha-button-a {
  background-position: -288px 0px !important;
}
.menu-icon.aloha-button-a-remove {
  background-position: -304px 0px !important;
}
.menu-icon.aloha-button-p {
  background-position: 0px 0 !important;
}
.menu-icon.aloha-button-p-de {
  background-position: 0px -42px !important;
}
.menu-icon.aloha-button-h1 {
  background-position: -52px 0 !important;
}
.menu-icon.aloha-button-h1-de {
  background-position: -52px -42px !important;
}
.menu-icon.aloha-button-h2 {
  background-position: -104px 0 !important;
}
.menu-icon.aloha-button-h2-de {
  background-position: -104px -42px !important;
}
.menu-icon.aloha-button-h3 {
  background-position: -156px 0 !important;
}
.menu-icon.aloha-button-h3-de {
  background-position: -156px -42px !important;
}
.menu-icon.aloha-button-h4 {
  background-position: -208px 0 !important;
}
.menu-icon.aloha-button-h4-de {
  background-position: -208px -42px !important;
}
.menu-icon.aloha-button-h5 {
  background-position: -260px 0 !important;
}
.menu-icon.aloha-button-h5-de {
  background-position: -260px -42px !important;
}
.menu-icon.aloha-button-h6 {
  background-position: -312px 0 !important;
}
.menu-icon.aloha-button-h6-de {
  background-position: -312px -42px !important;
}
.menu-icon.aloha-button-pre {
  background-position: -364px 0 !important;
}
.menu-icon.aloha-button-pre-de {
  background-position: -364px -42px !important;
}
.menu-icon.aloha-button-title {
  background-position: -416px 0 !important;
}
.menu-icon.aloha-button-title-de {
  background-position: -416px -42px !important;
}
.menu-icon.aloha-button-table {
  background-position: -96px 0 !important;
}
.menu-icon.aloha-button-addColumnLeft {
  background-position: -112px 0 !important;
}
.menu-icon.aloha-button-addColumnRight {
  background-position: -128px 0 !important;
}
.menu-icon.aloha-button-addRowBefore {
  background-position: -144px 0 !important;
}
.menu-icon.aloha-button-addRowAfter {
  background-position: -160px 0 !important;
}
.menu-icon.aloha-button-deleteRows {
  background-position: -176px 0 !important;
}
.menu-icon.aloha-button-deleteColumns {
  background-position: -192px 0 !important;
}
.menu-icon.aloha-button-addPerson {
  background-position: -224px 0 !important;
}
.menu-icon.aloha-button-addEvent {
  background-position: -208px 0 !important;
}
.menu-icon.aloha-button-abbr {
  background-position: -336px 0px !important;
}
.menu-icon.aloha-button-row-header {
  background-position: -352px 0px !important;
}
.menu-icon.aloha-button-col-header {
  background-position: -368px 0px !important;
}
.menu-icon.aloha-button-tree {
  background-position: 0 0 !important;
}
/* ---------------------------------------- */
.tool-bar {
  width: 100%;
  background-color: whiteSmoke;
  border-top: 1px solid #E5E5E5;
  border-bottom: 1px solid #E5E5E5;
  min-height: 30px;
  padding: 5px;
  padding-left: 70px;
  padding-right: 90px;
}
.tool-bar > .tool-button {
  vertical-align: middle;
  display: inline-block;
  opacity: 0.70;
  border: 1px solid transparent;
  border-radius: 2px;
  padding: 5px;
  cursor: pointer;
}
.tool-bar > .tool-button:hover {
  opacity: 1.0;
  border: 1px solid #ccc;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.tool-bar > .tool-button.disabled:hover {
  border: 1px solid transparent;
}
.tool-bar > .tool-button.checked {
  background-color: #eee;
  opacity: 1.0;
  border: 1px solid #ccc;
}
.tool-bar > .tool-button > .checked-icon {
  display: none;
}
.tool-bar > .tool-button > .accel {
  display: none;
}
.tool-bar > .tool-button > .tool-tip {
  display: none;
}
.tool-bar > .tool-button > .menu-icon {
  display: inline-block;
}
.tool-bar > .tool-button > .icon > .text {
  display: none;
}
.tool-bar > .tool-button > .submenu {
  display: inline-block;
  position: relative;
  padding-left: 3px;
  right: 0;
  top: -5px;
  font-size: 50%;
}
.menu-button {
  cursor: default;
}
.menu-item {
  font-family: Arial, sans-serif;
  font-size: 13px;
  white-space: nowrap;
  position: relative;
}
.menu-item:hover {
  background-color: #eee;
}
.menu-item.disabled {
  opacity: 0.3;
}
.menu-item.disabled:hover {
  background-color: inherit;
}
.menu-item > .accel {
  position: absolute;
  right: 3px;
}
.menu-item > .submenu {
  position: absolute;
  font-size: 70%;
  right: 10px;
  top: 8px;
  opacity: 0.5;
}
.menu-item > .submenu:hover {
  opacity: 1.0;
}
.menu-icon {
  width: 16px;
  height: 16px;
  /*display: inline;*/

}
.menu > .menu-item > .menu-icon {
  position: absolute;
  left: 3px;
}
.hidden {
  display: none;
}
.menu {
  position: fixed;
  background-color: white;
  border: 1px solid black;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 6px 0;
}
.menu > .menu-item {
  padding: 6px 7em 6px 30px;
  cursor: default;
}
.menu-bar {
  background-color: white;
  min-height: 30px;
  padding: 5px;
  padding-left: 70px;
  padding-right: 90px;
}
.menu-bar > .menu-button {
  display: inline;
  padding: 6px 7px;
}
.menu-bar > .menu-button > .text {
  display: inline;
}
.menu-bar > .menu-button > .submenu {
  display: none;
}
.menu-bar > .menu-button > .menu-icon {
  display: none;
}
.menu > .separator {
  padding: 0;
  border-bottom: 1px solid;
  margin-top: 6px;
  margin-bottom: 7px;
}
.tool-bar > .separator {
  display: inline-block;
  border-right: 1px solid;
  width: 0;
  height: 10px;
  /* a little higher than the buttons */

  padding: 5px 0;
  vertical-align: middle;
}
.menu > .checked > .checked-icon {
  position: absolute;
  left: 3px;
}
